@import "tailwindcss";

:root {
  --bg-black: #000000;
  --text-primary: #0F172A;
  --primary-blue: #3B82F6;
  --secondary-blue: #E0EDFF;
  --bg-gray: #E2E8F0;
  --tertiary-blue: #EFF6FF;
  --white: #FFFFFF;
}
.nav-link { position: relative; 
  padding-bottom: 2px; 
  text-decoration: none;}
 .nav-link { 
  position: relative; 
  text-decoration: none; 
  padding-bottom: 4px; } 
  .nav-link.active::after { 
  content: ""; 
  position: absolute; 
  bottom: 0; 
  left: 25%; 
  width: 50%; 
  height: 3px; 
  background: linear-gradient(90deg, #3b82f6, #60a5fa, #93c5fd); 
  border-radius: 2px; }

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}